 <%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>

<% for (let i = 0; i < cart.length; i++) { %>

    <div class="section">
            <a class="section__link" style="color:black;" href="/cart/<%= cart[i].id %>">
                <h2 class="section__title" style="color:black ;"> <%= cart[i].title %></h2>
                <img class="section__image" src="img/<%= cart[i].image %>">
            </a>

        <!-- <% if (auth) { %>
        <form method="post" action="/homs-delete" class="form_group_all">
            <input value="<%= cart[i].id %>" class="form-group__input" type="text" id="id" name="id"
            placeholder="" style="display: none;">
            <input class="form-button-delete" type="submit" value="Удалить">
        </form>
        <% } else { %>
            <% } %> -->
    </div>

<% } %>

<%- include('particles/footer.ejs') %>