 <%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>

<% for (let i = 0; i < cart.length; i++) { %>

    <div class="section">
            <a  class="section__link" style="color:black;" href="/cart/<%= cart[i].id %>">
                <h2 class="section__title" style="color:black ;"> <%= cart[i].title %></h2>
                <img class="section__image" src="img/<%= cart[i].image %>">
            </a>
    </div>

<% } %>

<%- include('particles/footer.ejs') %>