<%- include('particles/header.ejs') %>

<%- include('particles/navigation.ejs') %>

<% for (let i = 0; i < items.length; i++) { %>

    <div  class="section">
        <a class="section__link" style="color:black;" href="/items/<%= items[i].id %>">
            <h2 class="section__title" style="color:black ;"><%= items[i].title %></h2>
            <img class="section__image" src="img/<%= items[i].image %>">
            <h2>Семья и родная Феодосия</h2>
            <h2 class="section__description" style="color:black ;"><%= items[i].description %></h2>
            <h2>Учеба и зависть учителя</h2>
            <h2 class="section__description" style="color:black ;"><%= items[i].info %></h2>
            <h2>Взлет и ложная гибель</h2>
            <h2 class="section__description" style="color:black ;"><%= items[i].inform %></h2>
            <h2>Слава и семья</h2>
            <h2 class="section__description" style="color:black ;"><%= items[i].information %></h2>
            <h2>Старость и смерть</h2>
            <h2 class="section__description" style="color:black ;"><%= items[i].inf %></h2>
        </a>
        <% if (auth) { %>
            <div class="form__user">
    
                <form action="/update" method="post" class="form_group_all">
                    <label class="form-group__text" style="color:black;" for="title">Редатирование</label>
                    <div class="form-group">
                        <label class="form-group__label" style="color:black;" for="title">Название</label>
                        <input value="<%= items[i].title %>" class="form-group__input" type="text" id="title" name="title"
                            placeholder="title">
                    </div>
                    <div class="form-group">
                        <label class="form-group__label" style="color:black;" for="image">Изображение</label>
                        <input value="<%= items[i].image %>" class="form-group__input" type="text" id="image" name="image"
                            placeholder="image">
                    </div> 
                    <div class="form-group">
                        <label class="form-group__label" style="color:black;" for="title">Семья и родная Феодосия</label>
                        <input value="<%= items[i].description %>" class="form-group__input" type="text" id="description"
                            name="description" placeholder="Семья и родная Феодосия">
                    </div>
                    <div class="form-group">
                        <label class="form-group__label" style="color:black;" for="title">Учеба и зависть учителя</label>
                        <input value="<%= items[i].info %>" class="form-group__input" type="text" id="info"
                            name="info" placeholder="Учеба и зависть учителя">
                    </div>  <div class="form-group">
                        <label class="form-group__label" style="color:black;" for="title">Взлет и ложная гибель</label>
                        <input value="<%= items[i].inform %>" class="form-group__input" type="text" id="inform"
                            name="inform" placeholder="Взлет и ложная гибель">
                    </div>  <div class="form-group">
                        <label class="form-group__label" style="color:black;" for="title">Слава и семья</label>
                        <input value="<%= items[i].information %>" class="form-group__input" type="text" id="information"
                            name="information" placeholder="Слава и семья">
                    </div>  <div class="form-group">
                        <label class="form-group__label" style="color:black;" for="title">Старость и смерть</label>
                        <input value="<%= items[i].inf %>" class="form-group__input" type="text" id="inf"
                            name="inf" placeholder="Старость и смерть">
                    </div>
                    <input value="<%= items[i].id %>" class="form-group__input" type="text" id="id" name="id" placeholder=""
                        style="display: none;">
                    <input class="form-button" type="submit" value="Отредактировать">
           
            
                <% } else { %>
                    <% } %>
    </div>

<% } %>

<%- include('particles/footer.ejs') %>